body{
  background: #FF416C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Cormorant Garamond', serif;

}
header{
    background-color: rgba(73, 47, 17, 0.356);
    text-align: center;
    color: #ffffff;
    border-radius: 5cm;
    height: 4.5cm;
    place-items: center;
    display: grid;
    margin: 50px;
}

main{
    color: #ffffff;
}
section{
    background-color: rgb(255, 255, 255);
    color: #FF416C;
    text-align: center;
    border-radius: 2cm;
    height: 7cm;
    }
p{
    font-size: 16px;
}
nav {
    border-bottom: 2.5px solid #ddd;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    padding: 4px;
    list-style: none;
  }
  
  nav li {
    margin: 0 3px;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }
  
  footer{
    color: #ffffff;
  }

  footer ul{
    display: list-item;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  footer a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }