*{
  margin-top: 0;
}

body{
  background: #FF416C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Cormorant Garamond', serif;

}
header {
  background: #FF416C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  position: fixed;
  z-index: 100;
  text-align: center;
}

main{
    color: #ffffff;
    padding-top: 115px;
    
}

aside .tabla{
  position: absolute;
  width: 20% auto;
  padding-top: 140px;
  padding-left: 1%;
}

aside a{
  color: #FF416C;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  
}
table {
  background-color: #ffffff;
  border-radius: 30px;
  border-spacing: 24px;
  
}
table th{
  color: #FF4B2B;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
}


section #introduccion{
  background-color: rgb(255, 255, 255);
  color: #FF416C;
  text-align: center;
  border-radius: 2cm;
  height: auto;
  margin: 4%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 270px;
}

section .lista {
    background-color: rgba(12, 15, 46, 0.356);
    text-align: center;
    border-radius: 0.7cm;
    padding-top: 5px;
    border-style: solid;
    width: 100%;
    justify-items: center;
    }

  section .recomendaciones {
      background-color: rgba(12, 15, 46, 0.356);
      text-align: center;
      border-radius: 0.7cm;
      padding-top: 5px;
      padding-bottom: 5px;
      }
  
section .lista ol{
    text-align: left;
}

section .lista li{
  font-size: 17px;
}

p{
    font-size: 17px;
}

nav {
    border-bottom: 2.5px solid #ddd;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    padding: 4px;
    list-style: none;
  }
  
  nav li {
    margin: 0 3px;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }
  
  footer{
    color: #ffffff;
    display: inline-block;
  }

  footer ul{
    display: list-item;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  footer a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }